<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/experiment-styles.css">
        <script>
            const exp = {{{expstring}}}
        </script>
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            
            <button id="add-result-button" onclick="hideDiv()">New Result</button>
            <div class="add-result" id="add-result-div">
                <form id="add-result-form" action="/result" method="POST" enctype="multipart/form-data">
                    <input type="file" name="upload" id="add-file" accept="image/png, image/jpg, image/jpeg"> <br>
                    <input type="text" name="conditions" id="add-condition" placeholder="First condition"> <br>
                    <input type="text" name="comments" id="add-comment" placeholder="First comment"> <br>
                    <input type="hidden" name="experiment" id="experiment-id" value="60632258a3782916e8b85851">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        {{>footer}}
        <script src="../js/experiment.js"></script>
    </body>
</html>
